
<div class="container">
  <div class="row justify-content-center d-block">
    <% @barbecue.locations.each do |loc| %>
      <div class="card-my-reservations border border-info">
        <div class="bloc-image">
          <%= cl_image_tag @barbecue.photo.key, style: "width: 100%; height: 100%; object-fit: cover;" %>
        </div>
        <h5><strong><%= @barbecue.title %></strong></h5>
        <p><%= @barbecue.description %></p>
        <p><%= @barbecue.price %> € / day</p>
        <div class="d-block col-10 offset-2 justify-content-center">
          <p> <strong><%= loc.user.first_name %> <%= loc.user.last_name %></strong> would like to rent your barbecue: </p>
          <p> Réservé du <strong><u> <%= loc.start_time %></u></strong> au <strong><u> <%= loc.end_time %> </u></strong> </p>
        </div>
        <div class="btn justify-content-center">
          <p class="text-decoration-none"><%= link_to 'Validate', location_path(id: loc.id, barbecue_id: @barbecue.id), class: "btn btn-warning justify-content-center" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>



