<div class="container">
  <div class="d-flex row justify-content-center">
    <%= cl_image_tag("Space_barbecue_ltj71e") %>
  </div>
  <div class="row justify-content-center">
    <% if @barbecues == [] %>
      <h1>Vous n'avez pas de barbecue en location</h1>
      <p class="text-decoration-none"><%= link_to 'Create', new_barbecue_path(), id: "book-link", class: "btn btn-success" %></p>

    <% else %>
      <% @barbecues.each do |barbeuk| %>
        <div class="card-body col-4 border border-light shadow p-3 m-5 bg-body rounded" style="width: 18rem;">
          <%= cl_image_tag barbeuk.photo.key, style: "width: 100%; object-fit: cover;" %>
          <h5 class="card-title"><%= barbeuk.title %></h5>
          <p class="card-text"><%= barbeuk.description %></p>
          <p class="card-text"><%= barbeuk.price %> € / day</p>
        <div class="card-body col border border-light">
          <p class="text-decoration-none"><%= link_to 'Edit', edit_barbecue_path(barbeuk), id: "edit-link", class: "btn btn-info" %></p>
          <p class="text-decoration-none"><%= link_to 'Delete', barbecue_path(barbeuk), method: :delete, id: "delete-link", class: "btn btn-danger" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
