<div class="container">
  <div class="container text-align">
    <h1 class="text-center"> Louez votre espace de Barbecue en famille ou entre amis, entre particuliers ou professionnels</h1>
  </div>
  <div class="d-flex row justify-content-center">
    <%= image_tag "Space_barbecue.jpg" %>
  </div>
</div>
<div class="row justify-content-between">
  <% @barbecues.each do |barbeuk| %>
  <div class="card-body col-4 border border-light shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
    <p class="text-center">
      <%= cl_image_tag @barbeuk.photo.key, height: 300, width: 400, crop: :fill %>
    </p>
    <h5 class="card-title"><%= barbeuk.title %></h5>
    <p class="card-text"><%= barbeuk.description %></p>
    <p class="card-text"><%= barbeuk.price %></p>
    <div class="card-body col border border-light">
      <a class="text-decoration-none text-wrap text-white">
        <%= link_to 'Show', class: "btn btn-primary" %>
      </a>
      <p class="text-decoration-none"><%= link_to 'Delete', method: :delete, id: "delete-link", class: "btn btn-danger" %></p>
    </div>
  </div>
  <% end %>
</div>
