<div class="container">
  <div class="row">
    <div style="height:50px"></div>
    <div class="col-12 text-left">
      <H1>Mes réservations</H1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% if @locations == nil %>
      <p>Vous n’avez pas encore effectué de réservations...Ne tardez plus !</p>
      <% else %>
      <p>Vous avez fait le bon choix ! ;)</p>
      <% @locations.each do |loc| %>

      <div class="card-my-reservations"> 
        
        <div class="bloc-image">
          <%= cl_image_tag("{loc.barbecue.photo.key}", class: "img-card") %>
        </div>

        <div class="card-left">
          <h2><%= loc.barbecue.title %> </h2>
            <p><%= loc.barbecue.description %></p>
            <p> Réservé du <strong><u> <%= loc.start_time %></u></strong> au <strong><u> <%= loc.end_time %> </u></strong> </p>
          <div class="card-my-reservations-owner">
            <p><span style="font-weight:bold">Owner : </span> <%= loc.barbecue.user.first_name %> <%= loc.barbecue.user.last_name %></p>
          </div>        
        </div>

        <div class="card-right">
          <div class="card-my-reservations-status">
            <p><span style="font-weight:bold">Status :</span> <%= loc.status %></p>
          </div>
          <div class="button">
            <button id="sweet-alert" class="btn btn-info">Delete</button>
            <%= link_to "", location_path(loc), method: :delete, id: "delete", class: "hidden" %>
          </div>
        </div>

      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>
